<div class="container">

<div>
<h1 class="boxed"> About This Coder </h1>

</div>
<br/><br/>

<div class="boxed">
<p>Hello. My name is Preston Copeland.</p>

<p>I have three months to go from minimal knowledge of Ruby and Rails to knowing enough to add value to a company as a developer. I started on April 21, 2015. The race is on. The end date is July 21, 2015. My goal is to log at least 300 hours of genuine work.
</p>

<p>My plan is to work through tutorials, coding exercises, and books in order to create a portfolio worthy of job offers.</p>

</div>
</div>