<div class="container">

<div>
<h1 class="boxed"> About This Coder </h1>

</div>
<br/><br/>

<div class="boxed">
<p>Hello. My name is Preston Copeland.</p>

<p>I have three months to seriously level up. I want to systematically increase my prowess. I started on April 21, 2015. The race is on. The end date is July 21, 2015. My goal is to log at least 300 hours of genuine work. (Updated goal, June 6): My goal is to log at least 500 hours of genuine work.
</p>

<p>My plan is to work through tutorials, coding exercises, books, and projects in order to level up as a developer.</p>

</div>
</div>