<div class="container">

<div>
<h1 class="boxed"> Thoughts About Ruby, Rails, Computer Science, And ... Life</h1>
</div>
<br/><br/>

<ul >
  <% @posts.each do |post| %>
    <li class="boxed">
        <%= link_to post.title, post_path(post) %>
    </li>
  <% end %>
</ul>

<p> <%= link_to "Write A New Post", new_post_path %>
</p>
</div>


