// Place all the styles related to the portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a:hover img.spinicon{
transition: all 30s ease;
transform:rotate(2000deg);
-webkit-transform:rotate(2000deg);

}

