<div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 centered">
          <h5>A Ruby-on-Rails site<br/></h5>
          <br/>
          <h5>Preston Copeland | 2015</h5>
        </div>
      </div>
    </div>
  </div>